.item {
  & + .item {
    padding: 0 0 0 10px;
  }

  img {
    height: 400px;
    width: 100%;
    object-fit: cover;
  }
}
.item-auto {
    & + .item-auto {
        padding: 0 0 0 10px;
    }

    img {
        height: 400px;
        pointer-events: none;
    }
}
