<div class="page-wrap">
  <div class="side-bar">
    <a href="" class="site-title fs-6 lh-tight">@silmar/ng-carousel</a>
    <span class="fs-3"><button class="js-main-nav-trigger navigation-list-toggle btn btn-outline" type="button"
                               data-text-toggle="Hide">Menu</button></span>
    <div class="navigation main-nav js-main-nav">
      <nav role="navigation" aria-label="Main navigation">
        <ul class="navigation-list">
          <li class="navigation-list-item active">
            <a href="#getting-started" class="navigation-list-link">Getting Started</a>
            <a href="#basic-carousel" class="navigation-list-link">Basic Usage</a>
            <a href="#responsive-carousel" class="navigation-list-link">Responsive Carousel</a>
            <a href="#auto-carousel" class="navigation-list-link">Auto Carousel</a>
            <a href="#carousel-nav" class="navigation-list-link">Carousel with Navigation</a>
          </li>
        </ul>
      </nav>

    </div>
    <footer role="contentinfo" class="site-footer">
      <p class="text-small text-grey-dk-000 mb-0">This site uses <a
        href="https://github.com/pmarsceill/just-the-docs">Just the Docs</a>, a documentation theme for
        Jekyll.</p>
    </footer>
  </div>
  <div class="main-content-wrap js-main-content" tabindex="0">
    <div class="page-header">
      <div class="main-content">
        <ul class="list-style-none text-small mt-md-1 mb-md-1 pb-4 pb-md-0 js-aux-nav aux-nav">
          <li class="d-inline-block my-0"><a href="https://gitlab.com/etg-public/silmar-ng-carousel">The
            project on Gitlab</a></li>
        </ul>
      </div>
    </div>
    <div class="main-content">
      <div id="main-content" class="page-content" role="main">
        <h1 class="fs-9">Silmar NgCarousel</h1>

        <p class="fs-6 fw-300">This is a very basic carousel that we use for our websites. It tries to handle most of
          what a carousel should handle. The carousel uses a port of fastdom.js in order to minimize or eliminate any
          layout trashing.</p>

        <p><a href="#getting-started" class="btn btn-primary fs-5 mb-4 mb-md-0 mr-2">Get started now</a> <a
          href="https://gitlab.com/etg-public/silmar-ng-carousel" class="btn fs-5 mb-4 mb-md-0">View it on
          Gitlab</a></p>

        <!-- Getting Started -->
        <h2 id="getting-started">Getting started</h2>

        <h3 id="dependencies">Dependencies</h3>

        <p>NgCarousel is built with @angular/cli and depends on hammerjs if you need touch support.</p>

        <ol>
          <li>To install the package:
            <pre><code class="shell">{{txt['install']}}</code></pre>
          </li>

          <li>Import the module in your AppModule
            <pre><code class="typescript">{{txt['module']}}</code></pre>
          </li>

          <li>Use in your templates
            <pre><code class="html">{{txt['ex1']}}</code></pre>
          </li>

          <li><span class="label label-yellow">HammerJS</span>: if you use hammerjs and you have images in the
            slider items you need to disable the pointer events to enable dragging with the mouse pointer:
            <pre><code class="css">{{txt['css']}}</code></pre>
          </li>

          <li><span class="label label-green">TIP</span> You can safely use this package with
            <code>@angular/universal</code>,
            the library will simply not run on the server side
          </li>
        </ol>

        <!-- Usage -->
        <h2 id="Usage">Usage</h2>

        <!-- First example: Basic Usage-->
        <h3 id="basic-carousel">Basic Carousel</h3>
        <p>The most basic setup, 2 visible items</p>
        <pre><code class="html">{{txt['ex1']}}</code></pre>
        <si-ng-carousel [visible]="2">
          <div *ngFor="let img of gallery" siCarouselItem class="item">
            <img [src]="img"/>
          </div>
        </si-ng-carousel>

        <!-- Second example: Responsive Carousel -->
        <h3 id="responsive-carousel">Responsive Carousel</h3>
        <p>Easy responsive carousel, 1 item if small screen (max-width: 959px), 2 visible items otherwise.
          Resize your
          browser to see it in effect.</p>
        <pre><code class="html">{{txt['ex2']}}</code></pre>
        <si-ng-carousel [visible]="{sm:1,all:2}">
          <div *ngFor="let img of gallery2" siCarouselItem class="item"><img [src]="img"/></div>
        </si-ng-carousel>

        <!-- Third example: Auto Width Carousel -->
        <h3 id="auto-carousel">Auto Width Carousel</h3>
        <p>Let the carousel to calculate how many items can show at once. <br/><strong>!Note</strong> that this
          option is not really bug-free and the [showButtons] cannot be used only dragging.</p>
        <pre><code class="html">{{txt['ex3']}}</code></pre>
        <si-ng-carousel [showButtons]="false" [freeDrag]="true">
          <div *ngFor="let img of gallery" siCarouselItem class="item-auto">
            <img [src]="img"/>
          </div>
        </si-ng-carousel>

        <!-- Fourth example: Responsive Carousel -->
        <h3 id="carousel-nav">Carousel with Navigation</h3>
        <p>Add navigation to the carousel</p>
        <pre><code class="html">{{txt['ex4']}}</code></pre>
        <si-ng-carousel #carousel [visible]="1">
          <div *ngFor="let img of gallery3" siCarouselItem class="item"><img [src]="img"/></div>
        </si-ng-carousel>

        <h5>Standard Navigation</h5>
        <si-ng-carousel-navigation [carousel]="carousel" [previews]="gallery3"></si-ng-carousel-navigation>

        <h5>Customized Navigation with CSS variables</h5>
        <si-ng-carousel-navigation [carousel]="carousel" [previews]="gallery3"
                                   style="--current-color: purple;--border-width: 5px;--item-spacing: .1rem"></si-ng-carousel-navigation>

        <hr>

        <h2 id="about-the-project">About the project</h2>

        <p>@silmar/ng-carousel is developed by the small but fierce :) development team of <a
          href="https://www.expobeds.com">Expo Travel Group</a>.</p>

        <h3 id="license">License</h3>

        <p>This project is distributed under <a
          href="https://gitlab.com/etg-public/silmar-ng-carousel/blob/master/LICENSE">MIT license</a>.</p>
      </div>
    </div>
  </div>
</div>
