<div class="gallery" #carousel [class.draggable]="maxDrag !== 0" [class.loop]="loop" [class.no-loop]="!loop">
  <div #filmstrip class="gallery-inner" (swipeleft)="onSwipe($event, 'l')" (swiperight)="onSwipe($event, 'r')"
       (pan)="drag$.next($event)">
    <ng-content></ng-content>
  </div>
  <ng-container *ngIf="showButtons && maxDrag !== 0">
    <a href="#" class="chevron left" (click)="prev($event)" title="Previous" tabindex="-1"></a>
    <a href="#" class="chevron right" (click)="next($event)" title="Next" tabindex="-1"></a>
  </ng-container>
</div>
