si-ng-carousel {
  display: block;
}

.gallery {
  overflow: hidden;
  position: relative;

  .chevron {
    position: absolute;
    top: calc(50% - 1rem);
    width: 2rem;
    height: 2rem;
    font-size: 1.4rem;
    padding: .3rem .25rem .25rem;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;

    opacity: 0;
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    }

    &.left {
      left: 5px;
      text-align: center;
    }
    &.right {
      right: 5px;
    }
  }

  .chevron::before {
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    content: '';
    display: inline-block;
    height: 0.5em;
    width: 0.5em;
    top: 0.15em;
    left: 0.15em;
    position: relative;
    transform: rotate(-45deg);
    vertical-align: top;
  }

  .chevron.right:before {
    left: 0.1em;
    transform: rotate(45deg);
  }

  .chevron.bottom:before {
    top: 0;
    transform: rotate(135deg);
  }

  .chevron.left:before {
    left: 0.1em;
    transform: rotate(-135deg);
  }

  &:hover {
    .chevron {
      display: inline-block;
      opacity: .8;
    }
  }

  .gallery-inner {
    flex-flow: row nowrap;
    display: flex;
    transform: translate3d(0px, 0px, 0px);
    transition: transform 300ms cubic-bezier(.43,.12,.41,.97);

    &.dragging {
      transition: none;
    }

    &.draggable {
      cursor: grab;
    }

    &.dragging {
      cursor: grabbing;
    }
  }
}

@media (max-width: 599px) {
  .chevron {
    display: none !important;
  }
}